$spacingValue: 0.25;

.mb-0 {
	margin-bottom: 0;
}
.mt-auto {
	margin-top: auto;
}
.mt-0 {
	margin-top: 0;
}
.ml-0 {
	margin-left: 0;
}
.mr-0 {
	margin-right: 0;
}
.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.my-0 {
	margin-bottom: 0;
	margin-top: 0;
}
.ma-0 {
	margin: 0;
}

.mb-1 {
	margin-bottom: $spacingValue * 1rem;
}
.mt-1 {
	margin-top: $spacingValue * 1rem;
}
.ml-1 {
	margin-left: $spacingValue * 1rem;
}
.mr-1 {
	margin-right: $spacingValue * 1rem;
}
.mx-1 {
	margin-left: $spacingValue * 1rem;
	margin-right: $spacingValue * 1rem;
}
.my-1 {
	margin-bottom: $spacingValue * 1rem;
	margin-top: $spacingValue * 1rem;
}
.ma-1 {
	margin: $spacingValue * 1rem;
}

.mb-2 {
	margin-bottom: $spacingValue * 2rem;
}
.mt-2 {
	margin-top: $spacingValue * 2rem;
}
.ml-2 {
	margin-left: $spacingValue * 2rem;
}
.mr-2 {
	margin-right: $spacingValue * 2rem;
}
.mx-2 {
	margin-left: $spacingValue * 2rem;
	margin-right: $spacingValue * 2rem;
}
.my-2 {
	margin-bottom: $spacingValue * 2rem;
	margin-top: $spacingValue * 2rem;
}
.ma-2 {
	margin: $spacingValue * 2rem;
}

.mb-3 {
	margin-bottom: $spacingValue * 2rem;
}
.mt-3 {
	margin-top: $spacingValue * 3rem;
}
.ml-3 {
	margin-left: $spacingValue * 3rem;
}
.mr-3 {
	margin-right: $spacingValue * 3rem;
}
.mx-3 {
	margin-left: $spacingValue * 3rem;
	margin-right: $spacingValue * 3rem;
}
.my-3 {
	margin-bottom: $spacingValue * 3rem;
	margin-top: $spacingValue * 3rem;
}
.ma-3 {
	margin: $spacingValue * 3rem;
}

.mb-4 {
	margin-bottom: $spacingValue * 4rem;
}
.mt-4 {
	margin-top: $spacingValue * 4rem;
}
.ml-4 {
	margin-left: $spacingValue * 4rem;
}
.mr-4 {
	margin-right: $spacingValue * 4rem;
}
.mx-4 {
	margin-left: $spacingValue * 4rem;
	margin-right: $spacingValue * 4rem;
}
.my-4 {
	margin-bottom: $spacingValue * 4rem;
	margin-top: $spacingValue * 4rem;
}
.ma-4 {
	margin: $spacingValue * 4rem;
}

.mb-5 {
	margin-bottom: $spacingValue * 5rem;
}
.mt-5 {
	margin-top: $spacingValue * 5rem;
}
.ml-5 {
	margin-left: $spacingValue * 5rem;
}
.mr-5 {
	margin-right: $spacingValue * 5rem;
}
.mx-5 {
	margin-left: $spacingValue * 5rem;
	margin-right: $spacingValue * 5rem;
}
.my-5 {
	margin-bottom: $spacingValue * 5rem;
	margin-top: $spacingValue * 5rem;
}
.ma-5 {
	margin: $spacingValue * 5rem;
}

.mb-6 {
	margin-bottom: $spacingValue * 6rem;
}
.mt-6 {
	margin-top: $spacingValue * 6rem;
}
.ml-6 {
	margin-left: $spacingValue * 6rem;
}
.mr-6 {
	margin-right: $spacingValue * 6rem;
}
.mx-6 {
	margin-left: $spacingValue * 6rem;
	margin-right: $spacingValue * 6rem;
}
.my-6 {
	margin-bottom: $spacingValue * 6rem;
	margin-top: $spacingValue * 6rem;
}
.ma-6 {
	margin: $spacingValue * 6rem;
}

.mb-8 {
	margin-bottom: $spacingValue * 8rem;
}
.mt-8 {
	margin-top: $spacingValue * 8rem;
}
.ml-8 {
	margin-left: $spacingValue * 8rem;
}
.mr-8 {
	margin-right: $spacingValue * 8rem;
}
.mx-8 {
	margin-left: $spacingValue * 8rem;
	margin-right: $spacingValue * 8rem;
}
.my-8 {
	margin-bottom: $spacingValue * 8rem;
	margin-top: $spacingValue * 8rem;
}
.ma-8 {
	margin: $spacingValue * 8rem;
}

.mb-10 {
	margin-bottom: $spacingValue * 10rem;
}
.mt-10 {
	margin-top: $spacingValue * 10rem;
}
.ml-10 {
	margin-left: $spacingValue * 10rem;
}
.mr-10 {
	margin-right: $spacingValue * 10rem;
}
.mx-10 {
	margin-left: $spacingValue * 10rem;
	margin-right: $spacingValue * 10rem;
}
.my-10 {
	margin-bottom: $spacingValue * 10rem;
	margin-top: $spacingValue * 10rem;
}
.ma-10 {
	margin: $spacingValue * 10rem;
}

.mb-12 {
	margin-bottom: $spacingValue * 12rem;
}
.mt-12 {
	margin-top: $spacingValue * 12rem;
}
.ml-12 {
	margin-left: $spacingValue * 12rem;
}
.mr-12 {
	margin-right: $spacingValue * 12rem;
}
.mx-12 {
	margin-left: $spacingValue * 12rem;
	margin-right: $spacingValue * 12rem;
}
.my-12 {
	margin-bottom: $spacingValue * 12rem;
	margin-top: $spacingValue * 12rem;
}
.ma-12 {
	margin: $spacingValue * 12rem;
}

.mb-16 {
	margin-bottom: $spacingValue * 16rem;
}
.mt-16 {
	margin-top: $spacingValue * 16rem;
}
.ml-16 {
	margin-left: $spacingValue * 16rem;
}
.mr-16 {
	margin-right: $spacingValue * 16rem;
}
.mx-16 {
	margin-left: $spacingValue * 16rem;
	margin-right: $spacingValue * 16rem;
}
.my-16 {
	margin-bottom: $spacingValue * 16rem;
	margin-top: $spacingValue * 16rem;
}
.ma-16 {
	margin: $spacingValue * 16rem;
}

.mb-20 {
	margin-bottom: $spacingValue * 20rem;
}
.mt-20 {
	margin-top: $spacingValue * 20rem;
}
.ml-20 {
	margin-left: $spacingValue * 20rem;
}
.mr-20 {
	margin-right: $spacingValue * 20rem;
}
.mx-20 {
	margin-left: $spacingValue * 20rem;
	margin-right: $spacingValue * 20rem;
}
.my-20 {
	margin-bottom: $spacingValue * 20rem;
	margin-top: $spacingValue * 20rem;
}
.ma-20 {
	margin: $spacingValue * 20rem;
}

.mb-24 {
	margin-bottom: $spacingValue * 24rem;
}
.mt-24 {
	margin-top: $spacingValue * 24rem;
}
.ml-24 {
	margin-left: $spacingValue * 24rem;
}
.mr-24 {
	margin-right: $spacingValue * 24rem;
}
.mx-24 {
	margin-left: $spacingValue * 24rem;
	margin-right: $spacingValue * 24rem;
}
.my-24 {
	margin-bottom: $spacingValue * 24rem;
	margin-top: $spacingValue * 24rem;
}
.ma-24 {
	margin: $spacingValue * 24rem;
}

.mb-32 {
	margin-bottom: $spacingValue * 32rem;
}
.mt-32 {
	margin-top: $spacingValue * 32rem;
}
.ml-32 {
	margin-left: $spacingValue * 32rem;
}
.mr-32 {
	margin-right: $spacingValue * 32rem;
}
.mx-32 {
	margin-left: $spacingValue * 32rem;
	margin-right: $spacingValue * 32rem;
}
.my-32 {
	margin-bottom: $spacingValue * 32rem;
	margin-top: $spacingValue * 32rem;
}
.ma-32 {
	margin: $spacingValue * 32rem;
}

.mb-40 {
	margin-bottom: $spacingValue * 40rem;
}
.mt-40 {
	margin-top: $spacingValue * 40rem;
}
.ml-40 {
	margin-left: $spacingValue * 40rem;
}
.mr-40 {
	margin-right: $spacingValue * 40rem;
}
.mx-40 {
	margin-left: $spacingValue * 40rem;
	margin-right: $spacingValue * 40rem;
}
.my-40 {
	margin-bottom: $spacingValue * 40rem;
	margin-top: $spacingValue * 40rem;
}
.ma-40 {
	margin: $spacingValue * 40rem;
}

.mb-48 {
	margin-bottom: $spacingValue * 48rem;
}
.mt-48 {
	margin-top: $spacingValue * 48rem;
}
.ml-48 {
	margin-left: $spacingValue * 48rem;
}
.mr-48 {
	margin-right: $spacingValue * 48rem;
}
.mx-48 {
	margin-left: $spacingValue * 48rem;
	margin-right: $spacingValue * 48rem;
}
.my-48 {
	margin-bottom: $spacingValue * 48rem;
	margin-top: $spacingValue * 48rem;
}
.ma-48 {
	margin: $spacingValue * 48rem;
}

.mb-56 {
	margin-bottom: $spacingValue * 56rem;
}
.mt-56 {
	margin-top: $spacingValue * 56rem;
}
.ml-56 {
	margin-left: $spacingValue * 56rem;
}
.mr-56 {
	margin-right: $spacingValue * 56rem;
}
.mx-56 {
	margin-left: $spacingValue * 56rem;
	margin-right: $spacingValue * 56rem;
}
.my-56 {
	margin-bottom: $spacingValue * 56rem;
	margin-top: $spacingValue * 56rem;
}
.ma-56 {
	margin: $spacingValue * 56rem;
}

.mb-64 {
	margin-bottom: $spacingValue * 64rem;
}
.mt-64 {
	margin-top: $spacingValue * 64rem;
}
.ml-64 {
	margin-left: $spacingValue * 64rem;
}
.mr-64 {
	margin-right: $spacingValue * 64rem;
}
.mx-64 {
	margin-left: $spacingValue * 64rem;
	margin-right: $spacingValue * 64rem;
}
.my-64 {
	margin-bottom: $spacingValue * 64rem;
	margin-top: $spacingValue * 64rem;
}
.ma-64 {
	margin: $spacingValue * 64rem;
}
